{% extends 'admin_base.html' %}
{% block body %}
<div class="container my-5" style="background-color: white; border-radius: 10px; padding: 30px;"">
    <table class="table table-hovered"">
        <thead>
            <h4>Patient Details</h4><hr>
            <tr>
                <th>Name</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Date of birth</th>
                <th>Address</th>
                <th>ID Type</th>
                <th>ID Proof</th>
            </tr>
        </thead>
        <tbody>
    {% for i in objects %}
    <tr>
        <td>{{i.first_name}} {{i.last_name}}</td>
        <td>{{i.gender}}</td>
        <td>{{i.email}}</td>
        <td>{{i.mobile}}</td>
        <td>{{i.dob}}</td>
        <td>{{i.address}}</td>
        <td>{{i.id_type}}</td>
        <td><a href="{{i.id_proof.url}}" target="_blank">View</a></td>
    </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}