{% extends 'base.html' %}
{% block body %}
{% load static %}
{% load crispy_forms_tags %}
<div class="formdiv" style="background-color: aliceblue; padding: 30px; border-radius: 30px;">
    <form class="form" method="post" enctype="multipart/form-data" id="Doctor" onsubmit="return confirm('Are you sure to submit?');">
        {% csrf_token %}
        <label for="number" class="form-label">Total vaccancies</label>
        <input type="number" name="count" id="number" class="form-control"><br>
        <input type="submit" class="btn btn-primary">
    </form>
</div>
{% endblock %}