{% extends 'base.html' %}
{% block title %}
Appointments
{% endblock %}
{% block body %}
<div class="container my-5" style="background-color: white; border-radius: 10px; padding: 30px;">
    {% if all %}
    <h4>View appointments</h4><hr>
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Doctor</th>
                <th>Symptoms</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for i in all %}
            <tr>
                <td>{{i.doctor}}</td>
                <td>{{i.symptoms}}</td>
                <td>{{i.date_of_appointment}}</td>
                <td><a href="{% url 'editappointment' i.id %}"><button class="btn btn-success" onclick="window.alert('Are you sure to rescedule')">Reschedule</button></a></td>
                <td><a href="{% url 'deleteappointment' i.id %}"><button class="btn btn-danger"onclick="window.alert('Are you sure to delete')">Delete</button></a></td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

    {% else %}

    <h4>No appointments found</h4>
    {% endif %}
</div>
{% endblock %}